@import '../../styles.scss';
.test{
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-basis: content;
  justify-content: center;
  width: 100%;
  z-index: 1;
  margin-top: -40px;

  .bar {
    padding-top: 20px;
    background-color: $dark-shade0;
    color: $dark-shade0;
    position: sticky;
    top: 0;
    width: 100%;
    display: inline-flex;
    list-style: none;
    height: 50px;
    li {
      button {
        background: none;
        border: none;

        :hover{
          cursor: pointer;
        }
      }

      #btnMenu {
          margin-left: 50px;
      }
    }

  }
}



  // li{
  //   margin: 2%;
  // }
  // .btn {
  //   margin-left: 2%;
  //   margin-right: 2%;
  //   margin-bottom: 2%;
  // }

  // .search{
  //   height:30px;
  //   width: 35%;
  //   margin-left: 15%;
  //   margin-bottom: 2%;
  // }

  // .searchButton{
  //   margin-bottom: 2%;
  //   margin-right: 2%;
  //   height: 35px;
  // }

  // .profileBtn{
  //   display: flex;
  //   position: inline-block;
  //   height: fit-content;
  //   margin-bottom: 20px;

  //   .btn2{
  //     position: static;
  //     text-align: center;
  //     margin: 5px;
  //   }
  // }



