<nav id="navbar" [style.display]="toggleSearch ? 'none' : 'flex'">
  <div class="nav">
    <a (click)="toggleFunc()" class="menu-bars">
      <i class="fa fa-bars nav-icon "></i>
    </a>
    <a  routerLink="/home" routerLinkActive="active" id="logo">
      <img height="50px" src="../../assets/icons/yourjube.png"/>
    </a>
  </div>
  <div class="search-div">
    <input  type="text" class="search" placeholder=" What are youlookingfor">
    <button id="srcBar">
      <i class="fa fa-search"></i>
    </button>
  </div>
  <div class="buttons">
    <div class="setting" [style.top]="toggleSetting ? '6rem' : '-10rem'" >
      <ul>
        <li class="setting-text"><a href=""><i class="fa fa-child nav-icon" aria-hidden="true"></i>Restriction</a></li>
        <li class="setting-text"><a href=""><i class="fa fa-map nav-icon" aria-hidden="true"></i>Location</a></li>
        <li class="setting-text"><a href=""><i class="fa fa-keyboard-o nav-icon" aria-hidden="true"></i>Keyboard Shortcut</a></li>
      </ul>
    </div>
    <div class="user-setting" [style.top]="toggleUser ? '14rem' : '-30rem'" *ngIf="user" >
      <ul>
        <div class="user-info">
          <img referrerpolicy="no-referrer" style = "border-radius:50px"src="{{ user.photoUrl }}">
          <div class="user-data">
            <p referrerpolicy="no-referrer" >  {{ user.name }}</p>
            <p referrerpolicy="no-referrer" >{{user.email}}</p>
            <a href="" class="manage">Manage your Account</a>
          </div>
        </div>
        <hr/>
          <li class="setting-text"><a (click)="signOut()" href=""><i class="fa fa-child nav-icon" aria-hidden="true"></i>Switch Account</a></li>
          <li class="setting-text"><a href=""><i class="fa fa-map nav-icon" aria-hidden="true"></i>Membership</a></li>
          <li class="setting-text"><a href=""><i class="fa fa-keyboard-o nav-icon" aria-hidden="true"></i>Your Channel</a></li>
          <hr/>
          <li class="setting-text"><a href=""><i class="fa fa-child nav-icon" aria-hidden="true"></i>Restriction</a></li>
          <li class="setting-text"><a href=""><i class="fa fa-map nav-icon" aria-hidden="true"></i>Location</a></li>
          <li class="setting-text"><a href=""><i class="fa fa-keyboard-o nav-icon" aria-hidden="true"></i>Keyboard Shortcut</a></li>
        </ul>
      </div>
      <div class="right-btn">
      <a (click)="toggleSearchFunc()"><i class="fa fa-search nav-icon"></i></a>
      <a *ngIf="!user" (click)="toggleSettingFunc()"><i class="fa fa-cog fa-lg" aria-hidden="true"></i></a>
      <!-- UPLOAD  -->
      <a *ngIf="user" routerLink="/upload" routerLinkActive="active" ><i class="fa fa-video-camera "  aria-hidden="true"></i></a>
      <!-- NOTIF -->
      <a *ngIf="user" (click)="toggleSettingFunc()"><i class="fa fa-bell " aria-hidden="true" ></i></a>
      <button (click)="signInWithGoogle()" class="sign-inBtn" *ngIf="!user">
        <i class="fa fa-user-circle fa-lg" aria-hidden="true"></i>
          SIGN IN
      </button>
      <button (click)="toggleUserFunc()" class="accountBtn" *ngIf="user">
        <img  referrerpolicy="no-referrer" style = "border-radius:50px"src="{{ user.photoUrl }}">
      </button>
    </div>
  </div>

</nav>
<nav id="navbar" [style.display]="toggleSearch ? 'flex' : 'none'">
      <div class="search-div2" >
        <div>
          <a (click)="toggleSearchFunc()" class="back"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
        </div>

        <div>
          <input  type="text" class="search" placeholder=" What are youlooking for?">
          <button id="srcBar">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
</nav>
