
<div class="container">
  <div class="top">
    <div class="text">
      {{count}} Comment(s)
    </div>
    <div class="sort">
      <div class="icon">
        <img src="../../assets/sort.png" alt="">
      </div>
      <div class="text">
        SORT BY
      </div>
    </div>
  </div>
  <div class="main">
    <input type="input" class="form__field" placeholder="Add a public comment.."/>
  </div>
  <div class="buttons">
    <div class="button">
      CANCEL
    </div>
    <div class="button">COMMENT</div>
  </div>
</div>
<div *ngFor ="let i of comments">
  <app-comment-bubble *ngIf="i.rootcommentid===''" [comment]=i></app-comment-bubble>
</div>
