<div class="container">
  <!-- ini kiri -->
  <div [routerLink]="['/channel', channelid]" class="thumbnail">
    <img src="{{icon}}">
  </div>
  <!-- ini kanan -->
  <div class="info">
    <div [routerLink]="['/channel', channelid]" class="title">
      <p class="titleText">
        {{name}}
      </p>
    </div>
    <div class="detail">
      <div class="item">
        {{subscriber}} Subscriber
      </div>
      <div class="item">
        {{videos}} Videos
      </div>
    </div>
    <div class="description">
      {{description}}
    </div>
  </div>
      <div class="buttons">
        <div (click)="subscribe()" *ngIf="!subbed&&!ownChannel" class="btn">
          <a>Subscribe!</a>
        </div>
        <div *ngIf="ownChannel" class="btn">
          <a>HEY ITS YOUR CHANNEL!</a>
        </div>
        <div (click)="unsubscribe()" *ngIf="subbed&&!ownChannel" class="btn">
          <a>Unsubscribe!</a>
        </div>
        <div (click)="notifOn()" *ngIf="subbed&&!notif&&!ownChannel" class="btn">
          <a><i class="fa fa-bell"></i></a>
        </div>
        <div (click)="notifOff()" *ngIf="subbed&&notif&&!ownChannel" class="btn">
          <a><i class="fa fa-bell-slash"></i></a>
        </div>
  </div>

</div>
