<div class="container">
  <div class="background">
    <img src="../../assets/icons/bg.jpg" alt="">
  </div>
  <div class="top">
    <div class="info">
      <div class="icon">
        <img src="../../assets/icons/testSubscribe.jpg" alt="">
      </div>
      <div class="channel">
        <div class="name">
          Linus Tech Tips
        </div>
        <div class="subscriber">
          11.3M subscribers
        </div>
      </div>
      <div class="button">
        <div class="btn">
          SUBSCRIBE
        </div>
        <div class="btn">
          BELL
        </div>
      </div>
    </div>
  </div>
  <!-- <div> -->
    <!-- <hr/> -->
  <!-- </div> -->
  <div class="buttons">
    <div class="rowBtn">
      HOME
    </div>
    <div class="rowBtn">
      Videos
    </div>
    <div class="rowBtn">
      Playlist
    </div>
    <div class="rowBtn">
      Community
    </div>
    <div class="rowBtn">
      About
    </div>
  </div>
  <!-- <hr/> -->

</div>
