
<app-sidebar></app-sidebar>
<body>
  <div class="main">
    <div class="title">
      <img width="500px" src="../../assets/icons/yourjubev2.png" alt="">
      <h1>Premium</h1>
    </div>
    <div class="subtitle">
      <p>
        YouRJube and YouRMusic ad-free, offline and in the background
      </p>
    </div>
    <div class="buttons">
      <button>
        <p>
          Rp. 69.000,- / month
        </p>
      </button>
      <button>
        <p>
          Rp. 690.000,- / month
        </p>
      </button>
      <!-- <label for="" class="btn">
        <input type="checkbox" class="month">
        <span class="slider"></span>
      </label> -->
      <!-- <label for="" class="btn">
        <input type="checkbox" class="year">
        <span class="slider"></span>
      </label> -->
      </div>
      <div class="buttons">
      <!--   <a href="" class="register">
          Register
        </a> -->
        <button>
          Register here
        </button>
        </div>
        <div class="content">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit aliquam molestias possimus sunt! Accusantium aspernatur obcaecati, natus qui inventore, consequuntur pariatur id incidunt ex magnam nisi odio et sequi veniam.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto officia delectus aut! Dicta, asperiores beatae nam est delectus iste eum quaerat, voluptatum quidem alias quas veritatis ratione nisi obcaecati consectetur.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora saepe molestiae provident recusandae necessitatibus eius iste. Reprehenderit quasi earum fugit architecto magnam nulla pariatur quae cupiditate, sit, ducimus, deleniti exercitationem?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse placeat aut dolor earum perspiciatis repellat repellendus libero inventore porro ab doloremque pariatur cupiditate neque debitis, at nam architecto accusantium nisi.
          </p>
        </div>
  </div>
</body>
