<div class="container">
  <div appParallax [ratio]="0.7" class="title">
    <div class="box">
      <img src="../../assets/icons/yourjubev2.png" alt="">
    </div>
    <div class="box">
      <h1>PREMIUM</h1>
    </div>
  </div>
  <div class="content">
    <!-- ini buat isi fiturnya -->
    <div class="box">
      <!-- View premium video -->
      <div>
        <img src="../../assets/mason-kimbarovsky-X_d7m2r70bA-unsplash.jpg" alt="">
      </div>
      <div>
        <p>View Premium Video</p>
      </div>
    </div>
    <div class="box">
      <div>
        <img src="../../assets/henry-co-21HT36zwLn8-unsplash.jpg" alt="">
      </div>
      <div>
        <p>View Unpublished Video</p>
      </div>
      <!-- View unpublished / scheduled video -->
    </div>
    <div class="box">
      <div>
        <img src="../../assets/kobu-agency-7okkFhxrxNw-unsplash.jpg" alt="">
      </div>
      <div>
        <p>Download Video</p>
      </div>
      <!-- Download video -->
    </div>

  </div>
  <div *ngIf="premid!='2'" class="price">
    <!-- ini buat isi harga -->
    <div (click)="clickMonthly()" class="box">
      <!-- Monthly -->
      <button>
        <p>Rp. 69.000,0- / month</p>
      </button>
    </div>
    <div (click)="clickYearly()" class="box">
      <!-- Annual -->
      <button>
        <p>Rp. 690.000,0- / year</p>
      </button>
    </div>
  </div>
  <div *ngIf="premid!='2'" class="reg">
    <!-- ini tombolnya -->
      <div (click)="clickRegister()" class="btn">
        Register here
    </div>
  </div>
  <div class="history" *ngIf="premid=='2'" >
    <!-- <div *ngFor="let v of videos"> -->
      <div class="tit">
        <h2>BILLING HISTORY</h2>
      </div>
      <div class="con">
        <div *ngFor="let v of details" class="subs">
          <div class="row">
            <div class="top">
              <p>Started on</p>
            </div>
            <div class="detail">
              <p>{{v.startdate}}</p>
            </div>
          </div>
          <div class="row">
            <div class="top">
              <p>Ended on</p>
            </div>
            <div class="detail">
              <p>{{v.enddate}}</p>
            </div>
          </div>
          <div class="row">
            <div class="top">
              <p>Price</p>
            </div>
            <div class="detail">
              <p>{{v.price}}</p>
            </div>
          </div>
          <div style="margin-top: 20px;" class="row">
            <div class="top">
              <p>Billed On</p>
            </div>
            <div class="detail">
              <p>{{v.startdate}}</p>
            </div>
          </div>
        </div>
      </div>

    <!-- </div> -->
  </div>
</div>

