<!-- <mat-video title="My Tutorial Title" [autoplay]="true" [preload]="true" [fullscreen]="true" [download]="false" color="accent" spinner="spin" poster="image.jpg">
  <source matVideoSource src="https://firebasestorage.googleapis.com/v0/b/tpa-webab.appspot.com/o/test%2F1595173352797_My%20Vision%20of%20Russia%202018%20(Alberic%20-%20Indonesia).mp4?alt=media&token=3a74729f-651a-45b5-94df-47205cf32999" type="video/mp4">
  <source src="https://firebasestorage.googleapis.com/v0/b/tpa-webab.appspot.com/o/test%2F1595173352797_My%20Vision%20of%20Russia%202018%20(Alberic%20-%20Indonesia).mp4?alt=media&token=3a74729f-651a-45b5-94df-47205cf32999" type="video/mp4">
  <track matVideoTrack src="subtitles_en.vtt" kind="subtitles" srclang="en" label="English">
  <track src="subtitles_no.vtt" kind="subtitles" srclang="no" label="Norwegian">
</mat-video> -->
<div class="container">
  <div class="left">
    <mat-video class="vid" #video src="../../assets/video.mp4"></mat-video>
    <app-video-description
    [category]="'Bambang'"
    [channel]="'ASD'"
    [channelImg]="'../../assets/icons/testSubscribe.jpg'"
    [channelSub]="'10M'"
    [datePub]="'10 Jul 2020'"
    [subscribed]="'true'"
    [premium]="'true'"
    [title]="'TITLE GAN'"
    [like]="'10000'"
    [dislike]="'1000'"
    [desc]="'asdasdasdasdas'"
    [view]="'100000000'"
    >
    </app-video-description>
    <app-comment-section></app-comment-section>
  </div>
  <div class="right">
    <div class="thumbnail" >
      <app-video-card
      [channel]="'asdasdas' "
      [img]="'../../assets/thumbnail.jpg'"
      [length]="'10:10:10'"
      [title]="'v.videotitle'"
      [publish]="'1 days ago'"
      [view]="'100 views'"></app-video-card>
      <!-- <div class="content" *ngFor="let v of videos, let i = index">
        <app-video-card *ngIf="i<last"
        [channel]="v.user.username"
        [img]="v.thumbnailsource"
        [length]="v.length"
        [title]="v.videotitle"
        [publish]="v.publishtime"
        [view]="v.viewcount"></app-video-card>
      </div> -->
    </div>
  </div>
</div>
