<!-- <mat-video title="My Tutorial Title" [autoplay]="true" [preload]="true" [fullscreen]="true" [download]="false" color="accent" spinner="spin" poster="image.jpg">
  <source matVideoSource src="https://firebasestorage.googleapis.com/v0/b/tpa-webab.appspot.com/o/test%2F1595173352797_My%20Vision%20of%20Russia%202018%20(Alberic%20-%20Indonesia).mp4?alt=media&token=3a74729f-651a-45b5-94df-47205cf32999" type="video/mp4">
  <source src="https://firebasestorage.googleapis.com/v0/b/tpa-webab.appspot.com/o/test%2F1595173352797_My%20Vision%20of%20Russia%202018%20(Alberic%20-%20Indonesia).mp4?alt=media&token=3a74729f-651a-45b5-94df-47205cf32999" type="video/mp4">
  <track matVideoTrack src="subtitles_en.vtt" kind="subtitles" srclang="en" label="English">
  <track src="subtitles_no.vtt" kind="subtitles" srclang="no" label="Norwegian">
</mat-video> -->
<div>
  <!-- <vg-player>
    <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
        <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
    </video>
</vg-player> -->
  <!-- <mat-video style="width: 50%;" #video src="../../assets/video.mp4"></mat-video> -->
</div>
<app-video-description></app-video-description>
