div {
  display: flex;
}

.container{
  margin:10px;
  width: 300px;
  height: 100px;
  .kiri{
    margin: 0;
    width:30% ;
    height: max-content;
    flex-direction: column;
    img{
      object-fit: contain;
      height: 100px;
    }
    .length{
      margin:0;

    }
  }
  .kanan{

    margin: 0;
    margin-left: 10px;
    width: 70%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
}
p{
  margin:0;
}
