@import '../../styles.scss';
$beige : #EAE7DC;
$dark-beige :#D8C3A5;
$my-gray : #8E8D8A;
$white-red:#E98074;
$red: #E85A4F;
::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {background: #f1f1f1;}
::-webkit-scrollbar-thumb {background: #888;}
::-webkit-scrollbar-thumb:hover {background: #555;}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;}

a:hover{
  cursor: pointer;
}

.container {
  z-index: 1;
  margin: 0;
  padding: 0;

.menu-bars{
  margin-left: 2rem;
  font-size: 2rem;
  color:white;
}
#navmenu {
  z-index: 10;
  overflow: scroll;
  background-color: $red;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  transition:left 350ms ease-in-out ;
  .nav-menu-items {
  width: 100%;
  hr{
    color:#fff;
    font-family: 'Oswald',sans-serif;
  }
  div {
    display: flex;
  }
  .nav {
    margin-left: 2rem;
    .menu-bars {
      margin: 0;
      justify-content: center;
      .fa-bars {
          color: white;
          justify-content: center;
          margin-top:1.5rem ;
          margin-bottom: 1rem;
          margin-right: -1rem;
        }
      }
      #logo {
        justify-content: center;
        margin:0 ;
        height: 50px;
        margin-top:1rem ;
        margin-bottom: 1rem;
        margin-left: 1rem;
      }
    }
    .section {
      height: max-content;
      display:flex;
      flex-direction: column;
      justify-content: center;
      .nav-text{
        display: flex;
        justify-content: start;
        list-style: none;
        height: 50px;
        padding:1rem;
        &:hover {
          background-color: rgba(144,144,144,0.219);
          cursor: pointer;
        }
        a {
          text-decoration:none ;
          color: white;
          font-size: 1.2rem;
          margin-left: 1rem;
          size: inherit;
          img {
            // justify-content: center;
            margin-right: 0.2rem;
            height: 19px;
          }
      }
    }
    }
      #links {
        position: absolute;
        display: flex;;
        flex-wrap:wrap ;
        flex-direction: row;
        justify-content: space-around;
        text-decoration: none;
        list-style: none;
        bottom: 0;
        a {
          font-size: 0.9rem;
          text-decoration: none;
          color: white;
        }
      }
      .nav-icon {
        padding-right: 1rem;
        color:white;
      }
    }
  }
}
