<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
  <app-header [toggleMenu]="toggleMenu" (setMenu)="toggleFunc($event)" ></app-header>
  <nav id="navmenu" [style.left]="toggleMenu ? '0' : '-100%'">
    <ul class="nav-menu-items">
      <div class="nav">
        <a (click)="toggleFunc(!toggleMenu)" class="menu-bars">
          <i class="fa fa-bars nav-icon "></i>
        </a>
        <a routerLink="/home" routerLinkActive="active" id="logo">
          <img height="50px" src="../../assets/icons/yourjube.png"/>
        </a>
      </div>
      <hr/>
      <div  class="section" >
            <li class="nav-text"><a routerLink="/home" routerLinkActive="active"><i class="fa fa-home nav-icon"></i>Home</a></li>
            <li class="nav-text"><a routerLink="/trending" routerLinkActive="active"><i class="fa fa-fire nav-icon"></i>Trending</a></li>
            <li class="nav-text"><a href=""><i class="fa fa-youtube nav-icon"></i>Subscription</a></li>
            <li *ngIf="!user" class="nav-text"><a href=""><i class="fa fa-clone nav-icon"></i>Category</a></li>
            <li class="nav-text"><a href="/premium"><i class="fa fa-id-card-o nav-icon"></i>Membership</a></li>
            <hr/>
      </div>
      <div *ngIf="user" class="section" >
            <li class="nav-text"><a href=""><i class="fa fa-music nav-icon"></i>Music</a></li>
            <li class="nav-text"><a href=""><i class="fa fa-bicycle nav-icon"></i>Sport</a></li>
            <li class="nav-text"><a href=""><i class="fa fa-gamepad nav-icon"></i>Gaming</a></li>
            <li class="nav-text"><a href=""><i class="fa fa-television nav-icon"></i>Entertainment</a></li>
            <li class="nav-text"><a href=""><i class="fa fa-newspaper-o nav-icon"></i>News</a></li>
            <li class="nav-text"><a href=""><i class="fa fa-plane nav-icon"></i>Travel</a></li>
            <hr/>
      </div>
      <div *ngIf="user" class="section" >
            <li
            class="nav-text"><a href=""><i class="fa fa-list-ul nav-icon"></i>Test Playlist</a></li>

            <li class="nav-text"><a href=""><i class="fa fa-angle-double-down nav-icon"></i>Show More</a></li>
            <hr/>
      </div>
      <div *ngIf="user" class="section" >
            <li
            class="nav-text">
            <a href="">
              <img referrerpolicy="no-referrer" style = "border-radius:50px" src="../../assets/icons/testSubscribe.jpg" alt="" class="profile">
              Test Playlist
            </a>
            </li>

            <li class="nav-text"><a href=""><i class="fa fa-angle-double-down nav-icon"></i>Show More</a></li>
            <hr/>
      </div>
      <div id="links">
            <li class="link"><a href="/about-us">About us</a></li>
            <li class="link"><a href="/terms">Terms</a></li>
            <li class="link"><a href="/adv">Advertise here</a></li>
            <li class="link"><a href="/work">Work with us</a></li>
      </div>
      <hr/>
    </ul>
  </nav>
      <router-outlet></router-outlet>
</div>

