div {
  display: flex;
  align-content: center;
}

.container {
  flex-direction: column;
  padding-top: 100px;
  justify-content: center;
  .title{
    margin-top: 20px;
    margin-left: 25px;
    h1{
      font-size: 3rem;
      color: white;
    }
  }
  .items{
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
