<div class="container">
  <div class="title">
    <h1>TRENDING</h1>
  </div>
  <div class="items">

    <div class="sectionChild" *ngFor="let v of week;let i = index;">

      <!-- NANTI HARUS GANTI JADI SEARCH ITEM GAN!!!! -->
      <app-video-card [typeid]="v.typeid" [userid]="v.user.userid" [videoid]="v.videoid"  [channel]="v.user.username" [img]="v.thumbnailsource" [length]="v.length" [title]="v.videotitle"  [publish]="v.publishtime" [view]="v.viewcount"></app-video-card>
    </div>
  </div>
</div>
