<div class="container">
  <div class="title">
    <p>{{title}}</p>
  </div>

  <div class="shortDesc">
    <div class="infos">
      <div class="text">
        {{view}}
      </div>
      <div class="text">
        <i class="fa fa-circle"></i>
      </div>
      <div class="text">
        {{datePub}}
      </div>
    </div>

    <div class="buttons">
      <div class="button">
        <i class="fa fa-download"></i>
      </div>
      <!-- like -->
      <div (click)="clickLike()" class="button">
        <div  class="icon">
          <i class="fa fa-thumbs-up"></i>
        </div>
        <div class="textBtn">
          {{like}}
        </div>
      </div>
      <!-- dislike -->
      <div (click)="clickDislike()" class="button">
        <div  class="icon">
          <i class="fa fa-thumbs-down"></i>
        </div>
        <div class="textBtn">
          {{dislike}}
        </div>
      </div>
      <!-- share -->
      <div class="button">
        <div class="icon">
          <i class="fa fa-share"></i>
        </div>
        <div class="textBtn" (click)="changeShareVisible(true)">
          SHARE
        </div>
        <!-- save -->
      </div>
      <div class="button">
        <div class="icon">
          <i class="fa fa-list"></i>
        </div>
        <div class="textBtn" (click)="togglePlaylist(true)">
          PLAYLIST
        </div>
        <!-- save -->
      </div>
      <div class="button">
        <div class="icon">
          <i class="fa fa-arrow-right"></i>
        </div>
        <div class="textBtn" (click)="playNext()">
          NEXT
        </div>
        <!-- save -->
      </div>
      <div *ngIf="!premium" class="button" >
        <a href="{{videoURL}}" download="{{videoID}}" target="_blank">

          <div class="icon">
            <i class="fa fa-save"></i>
          </div>
          <div class="textBtn">
            SAVE
          </div>
        </a>
        </div>
    </div>
  </div>
  <div class="videoDesc">
    <app-channel-item
      [icon]="v.user.profileimgaddr"
      [name]="v.user.username"
      [subscriber]="v.count"
      [videos]="v.videoCount"
      [description]="v.user.channeldetail"
      [channelid]="v.user.userid"
    ></app-channel-item>
    <div class="desc">
      <p>
{{
  desc
}}      </p>
      <div class="category">
      {{category}}
      </div>
      <div class="expand">
        SHOW MORE
      </div>
    </div>
  </div>
</div>
<app-share-modal [isVisible]="shareVisible" (changeVisible)="changeShareVisible($event)" ></app-share-modal>
<app-playlist-modal [isVisible]="plvisible" [videoid]="videoID" (changeVisible)="togglePlaylist($event)" ></app-playlist-modal>
