<div class="container">
  <div class="title">
    <p>JUDUL</p>
  </div>

  <div class="shortDesc">
    <div class="infos">
      <div class="text">
        1,000,000 views
      </div>
      <div class="text">
        <i class="fa fa-circle"></i>
      </div>
      <div class="text">
        Jul 15, 2020
      </div>
    </div>

    <div class="buttons">
      <div class="button">
        <i class="fa fa-download"></i>
      </div>
      <!-- like -->
      <div class="button">
        <div class="icon">
          <i class="fa fa-thumbs-up"></i>
        </div>
        <div class="textBtn">
          25K
        </div>
      </div>
      <!-- dislike -->
      <div class="button">
        <div class="icon">
          <i class="fa fa-thumbs-down"></i>
        </div>
        <div class="textBtn">
          1K
        </div>
      </div>
      <!-- share -->
      <div class="button">
        <div class="icon">
          <i class="fa fa-share"></i>
        </div>
        <div class="textBtn">
          SHARE
        </div>
        <!-- save -->
      </div>
      <div class="button">
        <div class="icon">
          <i class="fa fa-save"></i>
        </div>
        <div class="textBtn">
          SAVE
        </div>
      </div>
    </div>
  </div>
  <div class="videoDesc">
      <div class="channelDesc">
        <div class="channel">

          <div class="icon">
            <img src="../../assets/icons/testSubscribe.jpg" alt="" srcset="">
          </div>
          <div class="info">
            <div class="name">
              Linus Tech Tips
            </div>
            <div class="subscriber">
              11.3M subscribers
            </div>
          </div>
        </div>
      <div class="btns">
          <div class="subscribe">
            SUBSCRIBE
          </div>
          <div class="bell">
            <i class="fa fa-bell"></i>
          </div>
        </div>
      </div>
    <div class="desc">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis harum laudantium animi et voluptates eos nisi porro dicta, vero qui cupiditate esse eum ipsum blanditiis fuga reprehenderit hic voluptatem. Maiores!
      <div class="category">
        CATEGORY CATEGORY
      </div>
      <div class="tag">
        TAG TAG TAG TAG
      </div>
      <div class="expand">
        SHOW MORE
      </div>
    </div>
  </div>
</div>
