div {
  display: flex;
  justify-content: flex-start;
}

img {
  width: 25px;
  height: 25px;
}
.profile {
  flex-direction: column;
  justify-content: flex-start;
  margin:5px 15px 15px 10px;
  // margin-left: 10px;
  // margin-top: 0px;
  .photo {
    width: max-content;
    img {
      width: 40px;
      height: 40px;
    }
  }
}
.main {
  flex-direction: column;
  align-items: flex-start;
  width: 65vw;

  .top {
    margin-bottom: 8px;

    .name {
      font-weight: bold;

    }
    .date {
      padding-top: 2px;
      margin-left: 10px;
      font-size: 0.8rem;
    }
  }

  .comment {

  }

  .buttons {
    margin-top: 10px;
    margin-bottom: 5px;
    .button {
      margin-right: 15px;
      padding: 5px 10px 5px 10px;
      &:hover {
        cursor: pointer;
        background-color: #424242;
        color:white;
      }

      .icon {
        padding-top: 5px;
        padding-bottom: auto;
        margin-right: 10px;
      }
      .count {
        // margin-left: 8px;
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }

  .button {
    margin-right: 15px;
    padding: 5px 10px 5px 10px;
    &:hover {
      cursor: pointer;
      background-color: #424242;
      color:white;
    }

    .icon {
      padding-top: 5px;
      padding-bottom: auto;
      margin-right: 10px;
    }
    .count {
      // margin-left: 8px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }


}

.option {
  margin-top: 15px;
  margin-left: 20px;
  height: max-content;
  padding: 5px;
  justify-content: center;
  // img {
  //   height: 20px;
  // }

  &:hover {
    cursor: pointer;
    background-color: #424242;
    color: white;
  }

}
