<div>
  <div class="profile">
    <div class="photo">

      <img src="../../assets/icons/testSubscribe.jpg" alt="" srcset="">
    </div>
  </div>
  <div class="main">
    <div class="top">
      <div class="name">
        Ben Dover
      </div>
      <div class="date">
        1 hour ago
      </div>
    </div>
    <div class="comment">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis voluptas in illo facere esse, tempore dolorum, quaerat enim vel quae odio dolor nulla? Ullam, temporibus. Odit iusto sint vel quibusdam.
    </div>
    <div class="buttons">
      <!-- like -->
      <div class="button">
        <div class="icon">
          <i class="fa fa-thumbs-up"></i>
          <!-- <img src="../../assets/25297.png" alt="" srcset=""> -->
        </div>
        <div class="count">
          100K
        </div>
      </div>
      <!-- dislike -->
      <div class="button">
        <div class="icon">
          <i class="fa fa-thumbs-down"></i>
          <!-- <img src="../../assets/unnamed.png" alt=""> -->
        </div>
        <div class="count">
          1K
        </div>
      </div>
      <!-- reply -->
      <div class="button">
        <div class="count">
          REPLY
        </div>
      </div>
    </div>
    <div class="button">
      <div class="icon">
        <i class="fa fa-caret-down"></i>
        <!-- <img src="../../assets/down-arrow.png" alt="" srcset=""> -->
      </div>
      <div class="count">
        View Replies
      </div>
    </div>
  </div>
  <div class="option">
    <i class="fa fa-ellipsis-v"></i>
      <!-- <img src="../../assets/more.png" alt="" srcset=""> -->
  </div>

</div>
