<div>
  <div class="profile">
    <div class="photo">

      <img src="{{comment.user.profileimgaddr}}" alt="" srcset="">
    </div>
  </div>
  <div class="main">
    <div class="top">
      <div class="name">
        {{comment.user.username}}
      </div>
      <div class="date">
        {{comment.date}}
      </div>
    </div>
    <div class="comment">
      {{comment.commentdetail}}    </div>
    <div class="buttons">
      <!-- like -->
      <div (click)="clickLike()" class="button">
        <div [style.color]="liked ? 'blue' : ''" class="icon">
          <i class="fa fa-thumbs-up"></i>
          <!-- <img src="../../assets/25297.png" alt="" srcset=""> -->
        </div>
        <div class="count">
          {{like}}
        </div>
      </div>
      <!-- dislike -->
      <div  (click)="clickDislike()" class="button">
        <div [style.color]="disliked ? 'blue' : ''" class="icon">
          <i class="fa fa-thumbs-down"></i>
          <!-- <img src="../../assets/unnamed.png" alt=""> -->
        </div>
        <div class="count">
          {{dislike}}
        </div>
      </div>
      <!-- reply -->
      <div class="button">
        <div class="count">
          REPLY
        </div>
      </div>
    </div>
    <div class="button">
      <div class="icon">
        <i class="fa fa-caret-down"></i>
        <!-- <img src="../../assets/down-arrow.png" alt="" srcset=""> -->
      </div>
      <div class="count">
        View Replies
      </div>
    </div>
  </div>
  <div class="option">
    <i class="fa fa-ellipsis-v"></i>
      <!-- <img src="../../assets/more.png" alt="" srcset=""> -->
  </div>

</div>
