<div class="container" [style.display]="isVisible ? 'flex' : 'none'">
  <div class="closeBtn">
    <button (click)="close()">
      <i class="fa fa-times"></i>
    </button>
  </div>
  <div class="content">
    <div class="center">
      <input type="text" disabled value={{copy()}} name="" id="">
      <!-- <div class="fb-share-button" data-href=copy() data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.google.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div> -->
      <a href="https://www.facebook.com/sharer/sharer.php?u={{copy()}}" target="_blank">
        Share on Facebook
      </a>
      <button cdkCopyToClipboard={{copy()}} class="btn">
        COPY
      </button>
    </div>
  </div>
</div>
<div (click)="close()" class="back" [style.display]="isVisible ? 'block' : 'none'"></div>
