<div class="container">
  <!-- ini kiri -->
  <div [routerLink]="['/playlists', playlistid]" class="thumbnail">
    <img src="{{img}}">
  </div>
  <!-- ini kanan -->
  <div class="info">
    <div [routerLink]="['/playlists', playlistid]" class="title">
      <p class="titleText">
        {{title}}
      </p>
    </div>
    <div class="detail">
      <div class="channel">
        {{channel}}
      </div>
    </div>
    <div class="description">
      {{description}}
    </div>
    <div class="buttons">
      <div class="btn">
        <a [routerLink]="['/playlists', playlistid]">View Playlist</a>
      </div>
      <div (click)="playAll()" class="btn">
        <a >Play All</a>
      </div>
    </div>
  </div>

</div>
