/* You can add global styles to this file, and also import other style files */
@import './mixins.scss';
@import "~ng-pick-datetime/assets/style/picker.min.css";

$dark:#0F0C24;
$dark-shadow:#0f0c24ab;
$purple: #A350A3;
$rose:#C1436D;
$green:#1BA098;

body{
  margin: 0;
  padding:0 ;
  background-color: $dark;
  color: white;
        @include phone{
          font-size: 15pt;
        }
        @include tablet{
          font-size: 17pt;
        }
        @include desktop{
          font-size: 19pt;
        }
        @include rwd(1920){
          font-size: 21pt;
        }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
