<div class="container" [style.display]="isVisible ? 'flex' : 'none'">

  <div class="closeBtn">
    <button (click)="close()">
      <i class="fa fa-times"></i>
    </button>
  </div>
  <div class="titletext"><p>Keyboard Shortcut</p></div>
  <div class="content">
      <div class="row">
        <div class="key"><p>J</p></div>
        <div class="desc"><p>Backward 10 seconds</p></div>
      </div>
      <div class="row">
        <div class="key"><p>K</p></div>
        <div class="desc"><p>Play or pause video</p></div>
      </div>
      <div class="row">
        <div class="key"><p>L</p></div>
        <div class="desc"><p>Forward 10 seconds</p></div>
      </div>
      <div class="row">
        <div class="key"><p>J</p></div>
        <div class="desc"><p>Backward 10 seconds</p></div>
      </div>
      <div class="row">
        <div class="key"><i class="fa fa-arrow-up"></i></div>
        <div class="desc"><p>Increase volume</p></div>
      </div>
      <div class="row">
        <div class="key"><i class="fa fa-arrow-down"></i></div>
        <div class="desc"><p>Decrease volume</p></div>
      </div>
    </div>
</div>
  <div (click)="close()" class="back" [style.display]="isVisible ? 'block' : 'none'"></div>
